body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

ul{
  padding: 0;
}

li{
  list-style-type: none;
}

.container{
  margin: 0 auto;
  max-width: 1200px;
}

.languages{
  display: flex;
  justify-content: center;
}

.languages li{
  margin: 10px;
  font-weight: bold;
  cursor: pointer;
}

.popular-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.popular-item{
  text-align: center;
  margin: 20px;
}

.space-list-items{
  margin-bottom: 7px;
}

.avatar{
  width: 150px;
  border-radius: 50%;
}

.popular-rank{
  margin: 10px;
  font-size: 20px;
}